*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
nav{
    background-color: #2c3d4f;
    border:0px solid;
    width:100%;
    height:11vh;
    display: flex;
    align-items: center;
    justify-content: end;
    position: fixed;
    top:0vh;
    left:0vw;
    z-index: 1;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.nav-content{
    border:0px solid;
    width:80vw;
    display: flex;
    justify-content: space-evenly;
}
h4{
    color: white;
    font-family: 'Poppins', sans-serif;
}
.start{
    border:0px solid;
    width:100%;
    height:48vw;
    background-color: rgb(71, 70, 70);

}
.next-1{
    border: 0px solid red;
    width:100%;
    height:45vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:1rem;
}
.inner-start{
    border:0px solid;
    position: relative;
    top:240px;
    width:43vw;
    text-align: center;
    left: 27vw;
    height: 33vh;
}
.start-p{
    color: #f1f5f9;
    font-size: 20px;
    line-height: 30px;
}
.line{
    width:80px;
    border:2px solid;
    text-align: center;
    color:#1bb8e4;
}
.next1-content{
    border:0px solid;
    width:70vw;
    height:42vh;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.next-2{
    border: 0px solid;
    width: 100%;
    height:90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:1rem;
    background-color: #F7FAFC;
}
.next2-container{
    border:0px solid;
    height: 60vh;
    width: 50vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-items: end;
    justify-items: start;

}
.skill-cards{
    height:20vh;
    width:15vw;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10%;
    border:0px solid;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.08);
    transition: transform 0.3s ease, box-shadow 0.2s ease;
    background-color: white;
}
.skill-cards:hover{
    transform: translateY(-5px);
}
.next-3{
    border: 0px solid;
    width: 100%;
    height:90vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items:center;
    gap:1rem;
}
.card{
    border:0px solid;
    width:290px;
    border-radius: 20px;
    height: 350px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.35);
    transition: transform 0.3s ease, box-shadow 0.2s ease;
    margin-top: 25px;
}
.card-img{
    width: 100%;
    border-radius: 20px 20px 0px 0px;
    height: 165px;
}
.card-content{
    position: relative;
    bottom: 25px;
    border: 0px solid;
    height:260px;
}
.card-title{
    text-align: center;
    color: black;
    padding-top: 40px;
    font-family: 'Poppins', sans-serif;
}
.card-description{
    padding: 20px 10px 10px 20px;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
.card-button{
    margin-left:110px ;
    border-radius: 10px;
    color: white;
    background-color: black;
}
.card:hover{
    transform: translateY(-5px);
}
.card-container{
    display: flex;
    gap: 50px;
}
.info{
    border: 0px solid;
    width:100%;
    display: flex;
    gap:2rem;
    justify-content: center;
    margin-top: 15px;
}
.next-4{
    border: 1px solid;
    width: 100%;
    height:90vh;
    background-color: #2c3d4f;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items:center;
    gap:1rem;
}
.form{
    border: 0px solid;
    width:40vw;
    height: 70vh;
    margin-top: 30px;

}
label{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: white;
}
input{
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.9);
    margin-top: 8px;
    margin-bottom: 22px;
}
textarea{
    width: 100%;
    padding: 30px;
    border: none;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.9);
    margin-bottom: 22px;
}
button {
    transition: all 0.3s ease 0s;
  width: 150px;
  height: 40px;
  font-size: 15px;
  border-radius: 5px;
  border: 2px;
  background-color: #1bb8e4;
  color:#f1f5f9;
  margin-top: 20px;
  margin-right: 15px;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}

button:hover {
  background-color: transparent;
  border: 2px solid #1bb8e4;
}
.navv {
  color: white;                 /* original color */
  transition: color 0.3s ease; /* transition on base */
}

.navv:hover {
  color: #1bb8e4;
}